/* Colors */
nav ul li a {
  transition: all .5s; }

nav ul li a:after {
  transition: all .5s; }

nav ul li a:before {
  transition: all .5s; }

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #252525;
  height: 3px; }

nav.stroke ul li a:hover:after {
  width: 100%; }

.navegador {
  padding: 30px 0px;
  background-color: #ffffff;
  font-family: Roboto Condensed; }
  .navegador a {
    text-align: center;
    color: #252525;
    font-size: 1.5em;
    margin: 0px 40px; }
    @media (max-width: 1090px) {
      .navegador a {
        margin: 0px 10px; } }
    .navegador a:hover {
      color: #92D6CC;
      background-color: #ffffff !important; }
    .navegador a:focus {
      color: #92D6CC;
      background-color: #ffffff !important; }
    .navegador a.noSub {
      border-bottom: none;
      margin: 0px; }
  .navegador img {
    margin: -35px 20px;
    width: auto;
    height: 90px; }
  .navegador span {
    background-color: #132B3C; }

.principal {
  background-image: url("../images/Nubes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #F9DC5F;
  padding-top: 130px; }
  @media (max-width: 768px) {
    .principal {
      background-image: url(); } }
  .principal img {
    width: 110%;
    height: auto;
    margin: 0px auto; }
  .principal .titulo {
    margin-top: 100px;
    float: right; }
    @media (max-width: 768px) {
      .principal .titulo {
        margin: 50px auto 0px auto;
        float: none;
        text-align: center; } }
  .principal .fecha {
    display: inline-flex;
    float: right; }
    @media (max-width: 768px) {
      .principal .fecha {
        float: none;
        text-align: center; } }
  .principal h1 {
    margin: 0px auto;
    padding: 0px 0px;
    text-align: right;
    font-size: 5em;
    font-weight: bold;
    font-family: Amaranth;
    color: #132B3C; }
    @media (max-width: 768px) {
      .principal h1 {
        text-align: center;
        font-size: 3.8em; } }
    .principal h1.red {
      color: #E42841; }
  .principal .border {
    padding: 5px 0px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: inherit; }
  .principal .boton {
    margin: 60px auto;
    text-align: center; }
    .principal .boton a {
      text-align: center;
      color: #F9DC5F;
      background-color: #E42841;
      padding: 20px 30px;
      border-radius: 20px;
      font-size: 1.5em;
      text-decoration: none; }
  .principal p {
    font-family: Bitter;
    font-style: italic;
    font-size: 1.8em;
    text-align: center;
    padding: 5px 0px; }

.info {
  font-family: Roboto;
  background-color: #F9DC5F;
  padding: 20px 0px 50px 0px; }
  .info .titulo {
    margin: 50px 0px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 100;
    font-style: italic; }
  .info img {
    margin: 60px auto; }
  .info .cuadro {
    margin: 0px 15px;
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 250px; }
    .info .cuadro .pregunta {
      font-family: Roboto;
      font-style: italic;
      color: #C6AB38;
      font-size: 2.5em;
      font-weight: lighter;
      padding-top: 20px;
      text-align: center; }
    .info .cuadro .respuesta {
      font-family: Roboto Slab;
      font-weight: lighter;
      font-size: 1em;
      padding: 10px 40px;
      text-align: center;
      color: #303030; }
  .info .marquesina {
    padding: 30px 0px;
    background-color: #132B3C; }
  .info .triangulo {
    margin: 0px auto;
    width: 0;
    height: 0;
    border-top: 50px solid #132B3C;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }

.agenda {
  font-family: Roboto;
  background-color: #A7D8D5;
  padding: 50px 0px;
  color: #132B3C; }
  .agenda h2 {
    padding: 10px 0px;
    margin: 50px 0px;
    text-align: center;
    font-size: 3.5em; }
  .agenda h3 {
    color: #E42841;
    font-weight: bold;
    text-align: left;
    font-size: 2.8em; }
    @media (max-width: 768px) {
      .agenda h3 {
        font-size: 2.5em; } }
  .agenda .cuadro {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px 20px;
    margin: 10px 20px;
    min-height: 535px; }
    .agenda .cuadro p {
      font-family: Roboto Slab;
      font-weight: 300;
      text-align: left;
      padding: 5px 10px;
      font-size: 1.2em; }
    .agenda .cuadro .red {
      color: #E42841; }
    .agenda .cuadro .charla {
      color: #132b3c; }
    .agenda .cuadro a {
      text-decoration: none;
      color: #92D6CC;
      font-weight: bold; }
    .agenda .cuadro img {
      margin: 30px auto; }

.catalago {
  padding: 0px;
  background-color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 1.7em;
  font-weight: 300; }
  @media (max-width: 767px) {
    .catalago {
      background-color: #A7D8D5; } }
  .catalago p {
    margin-top: 40px; }
  .catalago i {
    color: #132B3C; }
  .catalago .cuadrado {
    margin: 0px auto;
    width: 100%;
    height: 50px;
    background-color: #A7D8D5; }
  .catalago .trapecio-top {
    margin: 0px auto;
    width: 100%;
    height: 0px;
    border-right: 600px solid transparent;
    border-left: 600px solid transparent;
    border-top: 250px solid #A7D8D5; }
    @media (max-width: 1220px) {
      .catalago .trapecio-top {
        border-right: 450px solid transparent;
        border-left: 450px solid transparent;
        border-top: 250px solid #A7D8D5; } }
    @media (max-width: 930px) {
      .catalago .trapecio-top {
        border-right: 350px solid transparent;
        border-left: 350px solid transparent;
        border-top: 250px solid #A7D8D5; } }
  .catalago .fila {
    margin: 0px auto;
    width: 20px;
    height: 140px;
    background-color: #F9DC5F; }

.faq {
  padding: 50px 0px;
  background-color: #F9DC5F;
  text-align: center;
  font-family: Roboto; }
  .faq h2 {
    font-size: 3em; }
  .faq p {
    font-size: 2em;
    font-weight: lighter; }
  .faq .cuadro {
    margin: 20px 0px;
    background-color: #ffffff;
    text-align: left;
    padding: 50px 20px; }
    .faq .cuadro p {
      font-size: 1.3em;
      font-weight: lighter; }
    .faq .cuadro .duda {
      font-weight: 400;
      padding: 20px 0px 10px 0px; }
    .faq .cuadro a {
      color: #92D6CC;
      font-weight: bold; }

.organiza {
  background-image: url("../images/MochilaPNG.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #F9DC5F;
  padding-top: 50px;
  text-align: center;
  font-family: Roboto; }
  @media (max-width: 768px) {
    .organiza {
      background-image: url();
      padding-top: 0px; } }
  .organiza p {
    font-size: 1.7em;
    color: #132B3C;
    font-weight: 300;
    text-align: center; }
    @media (max-width: 768px) {
      .organiza p {
        font-size: 1.3em; } }
  .organiza .cursiva {
    padding: 20px 0px;
    font-weight: lighter;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic; }
  .organiza .boton {
    margin: 40px auto;
    text-align: center; }
  .organiza a {
    text-align: center;
    color: #F9DC5F;
    background-color: #1F3B49;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 1.5em;
    text-decoration: none; }
  .organiza .triangulo {
    margin: 0px auto;
    width: 0;
    height: 0;
    border-bottom: 20px solid #1F3B49;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }

.foot {
  margin-top: -2px;
  background-color: #1F3B49;
  color: #ffffff;
  padding: 40px 0px 10px 0px;
  font-family: Roboto Slab;
  font-weight: lighter; }
  .foot img {
    width: 160px;
    height: auto; }
    @media (max-width: 992px) {
      .foot img {
        margin: 0px auto 10px auto; } }
  .foot p {
    font-size: 1em; }
  .foot .social {
    text-align: center;
    vertical-align: middle; }
    .foot .social img {
      width: 50px;
      height: auto; }
  .foot .direccion {
    text-align: right;
    padding: 10px 0px; }
    @media (max-width: 992px) {
      .foot .direccion {
        text-align: center; } }
  .foot .autor {
    text-align: center; }
    .foot .autor a {
      color: #FBB03B; }

/*# sourceMappingURL=style.css.map */